# Autos dataset cleaning project

In [69]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',999)

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Windows-1252')

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [14]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Load dataset and see what info has

In [21]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
autos.columns = ['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen']

In [22]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Changed column names to snakecase

In [5]:
autos.describe(include='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

|Column|Comment|
|:-:|:-:|
|dateCrawled|ok|
|name| ok|
|**seller**| **only two values**|
|**offerType**| **only two values**|
|**price**|** take of the dollar sign**|
|**abtest**| **only two values**|
|vehicleType| ok|
|**registration_year**| **needs cleaning**|
|gearbox| only 2 values|
|**powerPS**| **needs reviewing**|
|model| ok|
|**odometer**| **needs cleaning**|
|**registration_month**| ** needs cleaning**|
|fuelType| ok|
|brand| ok|
|unrepaired_damage|ok|
|**ad_created**|**needs cleaning**|
|**nrOfPictures**| **one value**|
|**postalCode**|**needs cleaning**|
|lastSeen|ok|

In [5]:
autos['odometer_km'] = autos.odometer.str.replace('km','')
autos['odometer_km'] = autos.odometer_km.str.replace(',','')
autos['odometer_km'] = autos['odometer_km'].astype(int)

In [6]:
autos['price_usd'] = autos.price.str.replace('$','')
autos['price_usd'] = autos.price_usd.str.replace(',','')
autos['price_usd'] = autos['price_usd'].astype(int)

In [7]:
autos.describe(include = 'all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,...,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen,odometer_km,price_usd
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,...,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000,50000.000000,5.000000e+04
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,...,NaN,7,40,2,76,NaN,NaN,39481,NaN,NaN
top,2016-03-30 17:37:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,...,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27,NaN,NaN
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,...,NaN,30107,10687,35232,1946,NaN,NaN,8,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,...,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN,125732.700000,9.840044e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,...,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN,40042.211706,4.811044e+05
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,...,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN,5000.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,...,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN,125000.000000,1.100000e+03
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,...,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN,150000.000000,2.950000e+03
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,...,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN,150000.000000,7.200000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,...,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN,150000.000000,1.000000e+08

In [10]:
autos.odometer_km.describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [12]:
autos.odometer_km.value_counts().sort_index(ascending = False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

In [13]:
autos[autos['odometer_km'].between(5000,20000)]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,...,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen,odometer_km,price_usd
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,...,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30,10000,25450
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,"$11,900",control,kleinwagen,2014,manuell,60,...,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39,20000,11900
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,"$3,500",test,limousine,1985,NaN,0,...,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00,5000,3500
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,$0,control,NaN,1990,manuell,0,...,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48,5000,0
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,"$31,999",control,limousine,2016,manuell,136,...,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42,5000,31999
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,privat,Angebot,"$34,900",control,cabrio,2014,automatik,150,...,5,diesel,audi,nein,2016-03-07 00:00:00,0,32052,2016-03-24 03:47:03,20000,34900
102,2016-03-22 11:57:49,Ford_Ka_dunkel_blau,privat,Angebot,$320,control,kleinwagen,2004,manuell,0,...,6,benzin,ford,ja,2016-03-22 00:00:00,0,24109,2016-04-02 01:47:21,5000,320
106,2016-03-26 02:57:29,Opel_Tigra_A_1.6_16V_Schlachtfahrzeug__GSI_C20...,privat,Angebot,$150,test,coupe,1996,manuell,106,...,10,NaN,opel,ja,2016-03-26 00:00:00,0,67269,2016-04-05 19:47:10,5000,150
121,2016-03-15 09:48:41,verkaufe_Ford_focus_1_8_Diesel,privat,Angebot,"$1,100",control,kombi,2002,manuell,127,...,8,diesel,ford,NaN,2016-03-15 00:00:00,0,27568,2016-03-22 08:47:10,5000,1100
138,2016-03-10 13:49:35,Ford_C_Max_Titanium_1_0L._125Ps_Benziner__Magn...,privat,Angebot,"$18,300",test,bus,2015,manuell,125,...,7,benzin,ford,NaN,2016-03-10 00:00:00,0,66571,2016-03-23 10:17:21,20000,18300
146,2016-03-22 23:59:28,Ford_Fiesta_rot,privat,Angebot,$0,test,kleinwagen,1996,manuell,75,...,8,benzin,ford,NaN,2016-03-22 00:00:00,0,63069,2016-04-01 20:16:38,20000,0
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,privat,Angebot,$0,control,NaN,2011,NaN,0,...,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,64739,2016-04-06 19:45:08,5000,0
175,2016-03-19 15:48:21,MG_MGB_GT,privat,Angebot,"$13,800",control,coupe,1972,NaN,0,...,6,NaN,sonstige_autos,nein,2016-03-19 00:00:00,0,53639,2016-03-23 02:17:04,20000,13800
197,2016-04-05 10:36:24,VW_Polo_9N_an_Bastler,privat,Angebot,$888,control,NaN,2017,manuell,64,...,7,NaN,volkswagen,ja,2016-04-05 00:00:00,0,58566,2016-04-07 13:16:13,20000,888
224,2016-03-24 11:44:04,Volkswagen_T5_Multivan_Special_2.0l_TDI_103KW,privat,Angebot,"$32,950",test,bus,2015,manuell,140,...,5,diesel,volkswagen,nein,2016-03-24 00:00:00,0,34225,2016-04-03 00:45:16,10000,32950
226,2016-03-25 23:52:12,Porsche_911_S_Targa__67er_SWB,privat,Angebot,$0,control,cabrio,1967,manuell,160,...,12,benzin,porsche,nein,2016-03-25 00:00:00,0,44575,2016-04-05 14:46:39,5000,0
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,privat,Angebot,$0,control,NaN,2000,NaN,0,...,6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,0,89269,2016-04-06 07:16:22,5000,0
269,2016-03-27 10:39:16,Audi_a3_8l_1_9l_TDI_in_Ebonyschwarz,privat,Angebot,"$1,470",control,kleinwagen,1999,manuell,110,...,1,diesel,audi,nein,2016-03-27 00:00:00,0,23715,2016-04-07 05:17:10,5000,1470
277,2016-04-01 15:36:21,Audi_A1_1.6_TDI_Sportback_Ambition,privat,Angebot,"$18,499",test,kleinwagen,2014,manuell,90,...,10,diesel,audi,nein,2016-04-01 00:00:00,0,92331,2016-04-05 11:44:59,20000,18499
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,privat,Angebot,$0,control,NaN,1990,NaN,0,...,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,0,13589,2016-04-05 18:44:43,5000,0
321,2016-03-05 19:45:02,Audi_A1_1.4_TFSI_S_tronic_S_line_Navi_Bose,privat,Angebot,"$21,999",test,kleinwagen,2014,automatik,185,...,10,benzin,audi,nein,2016-03-05 00:00:00,0,84048,2016-04-07 07:44:25,20000,21999
344,2016-03-22 11:25:18,Verkaufe_hier_mein_mein_schoener_honda_crx_in_...,privat,Angebot,$1,test,NaN,2000,manuell,125,...,0,NaN,honda,NaN,2016-03-22 00:00:00,0,65391,2016-04-06 18:15:57,5000,1
351,2016-03-22 12:47:31,Alles_gut_bei_dese_Auto,privat,Angebot,$950,control,kombi,1996,manuell,74,...,6,NaN,volkswagen,NaN,2016-03-22 00:00:00,0,53819,2016-03-29 15:46:52,5000,950
403,2016-03-28 10:53:59,MINI_One_Pepper___PDC__hinten_,privat,Angebot,"$17,695",control,kleinwagen,2015,manuell,102,...,4,benzin,mini,nein,2016-03-28 00:00:00,0,7318,2016-04-06 13:44:50,5000,17695
418,2016-03-29 14:43:24,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,privat,Angebot,$0,test,bus,2003,manuell,80,...,5,diesel,fiat,nein,2016-03-29 00:00:00,0,35315,2016-04-05 23:47:14,5000,0
428,2016-03-21 19:55:57,Audi_A3_98,privat,Angebot,"$1,000",test,kleinwagen,1999,manuell,101,...,0,benzin,audi,ja,2016-03-21 00:00:00,0,6258,2016-03-28 17:18:38,5000,1000
430,2016-03-18 23:52:40,Winterraeder_FORD,privat,Angebot,$0,test,NaN,2007,NaN,0,...,0,NaN,ford,NaN,2016-03-18 00:00:00,0,40549,2016-03-19 06:47:06,5000,0
435,2016-03-21 20:38:33,Ford_Puma_zu_verkaufen,privat,Angebot,$550,control,coupe,2002,manuell,125,...,1,benzin,ford,NaN,2016-03-21 00:00:00,0,32657,2016-04-04 21:17:01,5000,550
453,2016-03-28 13:51:12,Armee_Jeep,privat,Angebot,"$9,800",test,NaN,4500,manuell,0,...,0,NaN,jeep,NaN,2016-03-28 00:00:00,0,7545,2016-04-06 17:45:49,5000,9800
462,2016-03-19 14:57:19,Porsche_Boxster_S__Volleder__Navi__appr._Garantie,privat,Angebot,"$52,900",test,cabrio,2012,manuell,315,...,11,benzin,porsche,nein,2016-03-19 00:00:00,0,91301,2016-04-06 22:45:50,20000,52900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49140,2016-03-29 14:36:19,BMW_X4_xDrive20d_Aut.,privat,Angebot,"$51,900",test,limousine,2015,automatik,190,...,6,diesel,bmw,nein,2016-03-29 00:00:00,0,84155,2016-04-06 01:15:45,10000,51900
49153,2016-03-12 01:36:59,Corsa_c20xe,privat,Angebot,"$2,500",test,NaN,5000,NaN,0,...,0,NaN,opel,NaN,2016-03-12 00:00:00,0,88214,2016-03-12 22:15:17,5000,2500
49161,2016-04-05 00:39:57,Skoda_Yeti_Outdoor_1.4_TSI_DSG,privat,Angebot,"$22,000",control,suv,2014,automatik,122,...,12,benzin,skoda,nein,2016-04-04 00:00:00,0,25336,2016-04-07 08:15:31,20000,22000
49189,2016-03-24 17:37:23,Skoda_Fabia_Combi_1.2_TSI_Ambition,privat,Angebot,"$11,995",control,kombi,2016,manuell,90,...,3,benzin,skoda,nein,2016-03-24 00:00:00,0,82229,2016-04-07 10:17:21,5000,11995
49230,2016-03-11 18:38:43,Vw_polo_sparsam_mit_faltdach_muss_weg.,privat,Angebot,$400,test,kleinwagen,1999,NaN,0,...,10,benzin,volkswagen,NaN,2016-03-11 00:00:00,0,66333,2016-03-21 05:46:29,5000,400
49263,2016-04-02 15:55:11,VW_Passat_1.9TDI_Kombi,privat,Angebot,"$1,250",control,kombi,2003,automatik,1998,...,12,diesel,volkswagen,nein,2016-04-02 00:00:00,0,33719,2016-04-06 14:46:09,5000,1250
49283,2016-03-15 18:38:53,Citroen_HY,privat,Angebot,"$7,750",control,NaN,1001,NaN,0,...,0,NaN,citroen,NaN,2016-03-15 00:00:00,0,66706,2016-04-06 18:47:20,5000,7750
49318,2016-03-17 18:39:13,Verkaufe_mein_Polo,privat,Angebot,$400,control,kleinwagen,1995,NaN,0,...,4,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,28832,2016-04-01 08:44:50,5000,400
49324,2016-04-01 16:36:34,Mercedes_Benz_Vito_111_BlueTEC_Tourer_Kompakt_PRO,privat,Angebot,"$29,500",control,kombi,2016,manuell,114,...,2,diesel,mercedes_benz,nein,2016-04-01 00:00:00,0,35037,2016-04-07 12:44:36,5000,29500
49325,2016-03-08 21:55:32,Audi_A4_1.8_TFSI_Ambiente,privat,Angebot,"$14,200",control,limousine,2008,manuell,120,...,4,benzin,audi,nein,2016-03-08 00:00:00,0,71032,2016-03-13 02:44:53,10000,14200
49334,2016-04-03 16:37:23,Passat_2.0_turbo,privat,Angebot,"$4,950",control,limousine,2007,manuell,200,...,3,benzin,volkswagen,nein,2016-04-03 00:00:00,0,10317,2016-04-03 16:37:23,5000,4950
49340,2016-03-05 19:52:28,Nagelneuer_Adam__viele_Extras__aus_Gewinn._NIE...,privat,Angebot,"$12,990",test,kleinwagen,2016,manuell,87,...,3,benzin,opel,nein,2016-03-03 00:00:00,0,48249,2016-03-22 19:18:46,5000,12990
49432,2016-03-20 15:37:23,Leasinguebernahme_Toyota_Aygo,privat,Angebot,$156,control,kleinwagen,2014,automatik,0,...,4,benzin,toyota,nein,2016-03-20 00:00:00,0,73734,2016-03-30 06:16:02,20000,156
49437,2016-03-31 17:47:40,Mazda_CX_5_2.2_SKYACTIV_D_AWD___LEDER___NAVI,privat,Angebot,"$30,700",control,suv,2015,manuell,175,...,2,diesel,mazda,nein,2016-03-31 00:00:00,0,94209,2016-04-06 11:17:39,5000,30700
49463,2016-03-27 21:51:21,Mercedes_Benz_B_180__BlueEFFICIENCY__7G_DCT,privat,Angebot,"$25,500",test,bus,2014,automatik,122,...,5,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,27777,2016-04-05 22:15:37,20000,25500
49468,2016-03-25 02:36:17,VW_EOS_1.4TSI_*7755KM*,privat,Angebot,"$21,000",control,cabrio,2014,manuell,122,...,5,benzin,volkswagen,nein,2016-03-25 00:00:00,0,34266,2016-04-04 06:18:01,10000,21000
49484,2016-03-12 15:57:10,ich_biete_einen_mercedes_w_203_sport_coupe_230,privat,Angebot,"$2,000",control,limousine,2001,automatik,197,...,3,benzin,mercedes_benz,ja,2016-03-12 00:00:00,0,66333,2016-03-28 22:16:03,5000,2000
49496,2016-03-26 13:55:28,Bmw_e39_520,privat,Angebot,$0,control,limousine,1998,manuell,0,...,0,NaN,bmw,NaN,2016-03-26 00:00:00,0,26188,2016-03-26 13:55:28,5000,0
49581,2016-03-15 10:58:06,Suzuki_Baleno_1_3_TÜV_neu,privat,Angebot,$790,control,kleinwagen,1995,manuell,0,...,6,benzin,suzuki,NaN,2016-03-15 00:00:00,0,1594,2016-03-22 10:17:49,5000,790
49722,2016-03-29 10:37:17,fghgfhfghfgh,privat,Angebot,$200,control,NaN,1960,NaN,0,...,0,NaN,alfa_romeo,NaN,2016-03-29 00:00:00,0,24960,2016-03-29 11:39:37,5000,200
49769,2016-03-09 09:49:40,Audi_A1_1.4_TFSI_Attraction,privat,Angebot,"$15,550",test,kleinwagen,2013,manuell,122,...,9,benzin,audi,nein,2016-03-09 00:00:00,0,54295,2016-04-07 14:32:55,20000,15550
49787,2016-03-15 22:48:45,Volkswagen_Golf_1.2_TSI_BlueMotion_Modell_Cup_...,privat,Angebot,"$16,500",control,limousine,2014,manuell,110,...,6,benzin,volkswagen,nein,2016-03-15 00:00:00,0,97076,2016-04-07 08:44:40,10000,16500
49832,2016-03-28 13:41:35,Hyundai_Santa_Fe_2.2_CRDi_/_Diesel__Automatik_...,privat,Angebot,"$29,999",test,suv,2015,automatik,197,...,4,diesel,hyundai,nein,2016-03-28 00:00:00,0,50389,2016-04-04 15:18:15,20000,29999
49844,2016-03-26 19:43:51,Fahrzeug_Ankauf!!!!,privat,Angebot,"$22,222",control,NaN,2005,NaN,0,...,0,NaN,opel,NaN,2016-03-26 00:00:00,0,72160,2016-03-26 19:43:51,5000,22222
49845,2016-03-21 00:50:15,Schlachte_VW_Sharan_vr6_Automatik___no_GTI_16V...,privat,Angebot,$1,test,NaN,2000,automatik,174,...,6,benzin,volkswagen,nein,2016-03-20 00:00:00,0,14621,2016-04-05 21:16:16,5000,1
49860,2016-04-03 14:49:24,Tausche_gegen_Opel_Agila,privat,Angebot,$800,test,andere,1997,NaN,0,...,0,benzin,opel,NaN,2016-04-03 00:00:00,0,65191,2016-04-06 21:45:13,20000,800
49865,2016-03-10 01:37:42,Mercedes_CLK_270_CDI_TÜV_bis_11_2017_klimaauto...,privat,Angebot,"$5,200",test,coupe,2004,automatik,0,...,12,diesel,mercedes_benz,NaN,2016-03-09 00:00:00,0,80686,2016-03-31 07:46:31,5000,5200
49910,2016-04-03 21:39:15,Schoener_fast_neuer_Opel_Mokka_in_Zell_Mosel_m...,privat,Angebot,"$22,200",test,NaN,9000,automatik,140,...,3,benzin,opel,NaN,2016-04-03 00:00:00,0,56856,2016-04-05 22:18:26,10000,22200
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,privat,Angebot,"$62,000",test,limousine,2015,automatik,275,...,8,diesel,sonstige_autos,nein,2016-03-14 00:00:00,0,10179,2016-03-30 23:17:48,10000,62000
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,...,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27,5000,13200

In [14]:
autos.price_usd.describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_usd, dtype: float64

In [15]:
autos.price_usd.value_counts().sort_index(ascending=False)

99999999       1
27322222       1
12345678       3
11111111       2
10000000       1
3890000        1
1300000        1
1234566        1
999999         2
999990         1
350000         1
345000         1
299000         1
295000         1
265000         1
259000         1
250000         1
220000         1
198000         1
197000         1
194000         1
190000         1
180000         1
175000         1
169999         1
169000         1
163991         1
163500         1
155000         1
151990         1
            ...
66             1
65             5
60             9
59             1
55             2
50            49
49             4
47             1
45             4
40             6
35             1
30             7
29             1
25             5
20             4
18             1
17             3
15             2
14             1
13             2
12             3
11             2
10             7
9              1
8              1
5              2
3              1
2              3
1            156
0           1421
Name: price_usd, Length: 2357, dtype: int64

### Taking off the values from 1.5 the lower and upper interquartil range

In [20]:
min_range = 2950 - (2950 - 1100) * 1.5

In [21]:
min_range

175.0

In [23]:
max_range = 2950 + (7200 - 2950) * 1.5

In [24]:
max_range

9325.0

In [27]:
autos = autos[autos['price_usd'].between(min_range, max_range)]

In [28]:
autos.describe(include='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,...,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen,odometer_km,price_usd
count,38605,38605,38605,38605,38605,38605,34623,38605.000000,36656,38605.000000,...,38605.000000,35122,38605,30600,38605,38605.0,38605.000000,38605,38605.000000,38605.000000
unique,37553,29807,1,1,1084,2,8,NaN,2,NaN,...,NaN,7,40,2,66,NaN,NaN,32610,NaN,NaN
top,2016-04-02 11:37:04,BMW_316i,privat,Angebot,$500,test,limousine,NaN,manuell,NaN,...,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27,NaN,NaN
freq,3,75,38605,38605,781,19874,9994,NaN,30664,NaN,...,NaN,24723,8297,26298,1479,NaN,NaN,6,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.434011,NaN,102.860484,...,5.726668,NaN,NaN,NaN,NaN,0.0,50131.130475,NaN,133280.533610,3031.385339
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.033400,NaN,187.607283,...,3.716559,NaN,NaN,NaN,NaN,0.0,25624.043062,NaN,33211.307245,2398.309442
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,...,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN,5000.000000,175.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,65.000000,...,3.000000,NaN,NaN,NaN,NaN,0.0,29525.000000,NaN,125000.000000,1000.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.000000,NaN,101.000000,...,6.000000,NaN,NaN,NaN,NaN,0.0,48691.000000,NaN,150000.000000,2300.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.000000,NaN,135.000000,...,9.000000,NaN,NaN,NaN,NaN,0.0,70192.000000,NaN,150000.000000,4500.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,...,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN,150000.000000,9325.000000

### The values from the price are more regular now, the odometer still have a strong orientation to the 150k value

In [37]:
autos['dateCrawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.025178
2016-03-06    0.014040
2016-03-07    0.036291
2016-03-08    0.034296
2016-03-09    0.033312
2016-03-10    0.032664
2016-03-11    0.032975
2016-03-12    0.037275
2016-03-13    0.015153
2016-03-14    0.037145
2016-03-15    0.034141
2016-03-16    0.029970
2016-03-17    0.032017
2016-03-18    0.012744
2016-03-19    0.033467
2016-03-20    0.037612
2016-03-21    0.037249
2016-03-22    0.032716
2016-03-23    0.032353
2016-03-24    0.029141
2016-03-25    0.031602
2016-03-26    0.032457
2016-03-27    0.030825
2016-03-28    0.035021
2016-03-29    0.034063
2016-03-30    0.034348
2016-03-31    0.032146
2016-04-01    0.032690
2016-04-02    0.034633
2016-04-03    0.038026
2016-04-04    0.036601
2016-04-05    0.013159
2016-04-06    0.003419
2016-04-07    0.001269
Name: dateCrawled, dtype: float64

In [38]:
 autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-08-10    0.000026
2015-11-10    0.000026
2015-12-05    0.000026
2015-12-30    0.000026
2016-01-07    0.000026
2016-01-10    0.000026
2016-01-13    0.000026
2016-01-27    0.000078
2016-01-29    0.000026
2016-02-01    0.000026
2016-02-02    0.000052
2016-02-05    0.000026
2016-02-08    0.000026
2016-02-09    0.000026
2016-02-11    0.000026
2016-02-12    0.000052
2016-02-14    0.000026
2016-02-16    0.000026
2016-02-18    0.000052
2016-02-19    0.000052
2016-02-20    0.000052
2016-02-21    0.000078
2016-02-23    0.000052
2016-02-25    0.000026
2016-02-26    0.000052
2016-02-27    0.000155
2016-02-28    0.000181
2016-02-29    0.000155
2016-03-01    0.000104
2016-03-02    0.000078
                ...
2016-03-09    0.033415
2016-03-10    0.032353
2016-03-11    0.033312
2016-03-12    0.037120
2016-03-13    0.016423
2016-03-14    0.035824
2016-03-15    0.034037
2016-03-16    0.030411
2016-03-17    0.031602
2016-03-18    0.013392
2016-03-19    0.032483
2016-03-20    0.037612
2016-03-21    0.037482
2016-03-22    0.032535
2016-03-23    0.032327
2016-03-24    0.029012
2016-03-25    0.031706
2016-03-26    0.032586
2016-03-27    0.030566
2016-03-28    0.035229
2016-03-29    0.034063
2016-03-30    0.034115
2016-03-31    0.031913
2016-04-01    0.032923
2016-04-02    0.034244
2016-04-03    0.038311
2016-04-04    0.037120
2016-04-05    0.011786
2016-04-06    0.003445
2016-04-07    0.001166
Name: ad_created, Length: 66, dtype: float64

In [39]:
autos['lastSeen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.001192
2016-03-06    0.005025
2016-03-07    0.006165
2016-03-08    0.008160
2016-03-09    0.010594
2016-03-10    0.011501
2016-03-11    0.013781
2016-03-12    0.026706
2016-03-13    0.009895
2016-03-14    0.013444
2016-03-15    0.017044
2016-03-16    0.017951
2016-03-17    0.030385
2016-03-18    0.007616
2016-03-19    0.017019
2016-03-20    0.021862
2016-03-21    0.021914
2016-03-22    0.022795
2016-03-23    0.019324
2016-03-24    0.021215
2016-03-25    0.020334
2016-03-26    0.017770
2016-03-27    0.016708
2016-03-28    0.022432
2016-03-29    0.023779
2016-03-30    0.025800
2016-03-31    0.025204
2016-04-01    0.023779
2016-04-02    0.026059
2016-04-03    0.025800
2016-04-04    0.025877
2016-04-05    0.116695
2016-04-06    0.204973
2016-04-07    0.121202
Name: lastSeen, dtype: float64

In [42]:
autos['registration_year'].value_counts().sort_index()

1000       1
1001       1
1111       1
1800       2
1910       2
1934       2
1937       3
1938       1
1952       1
1953       1
1956       2
1958       3
1959       1
1960      15
1961       4
1962       3
1963       3
1964       7
1965       9
1966       9
1967       8
1968       9
1969      10
1970      21
1971      12
1972      14
1973      11
1974       7
1975      10
1976      12
        ...
1997    1848
1998    2259
1999    2825
2000    2989
2001    2557
2002    2389
2003    2565
2004    2485
2005    2597
2006    2194
2007    1649
2008    1338
2009    1197
2010     660
2011     447
2012     335
2013     139
2014      77
2015      37
2016    1081
2017    1254
2018     430
2019       1
2800       1
4100       1
4800       1
5000       3
5911       1
8888       1
9999       2
Name: registration_year, Length: 80, dtype: int64

### The dates from the crawling are in 2016, and it was done in just 1 month. 
### The ad creation go from 2015 to 2016
### If the creation of the ad was back in 2016, there make no sense that the model of the vehicle are 2018 and forward. People is not filling the form accordingly

In [57]:
autos[(autos['registration_year'] < 1900) | (autos['registration_year'] > 2016)]['registration_year'].value_counts().sort_index()

1000       1
1001       1
1111       1
1800       2
2017    1254
2018     430
2019       1
2800       1
4100       1
4800       1
5000       3
5911       1
8888       1
9999       2
Name: registration_year, dtype: int64

In [56]:
autos[autos['registration_year'].between(1910,2000)]['registration_year'].value_counts().sort_index()

1910       2
1934       2
1937       3
1938       1
1952       1
1953       1
1956       2
1958       3
1959       1
1960      15
1961       4
1962       3
1963       3
1964       7
1965       9
1966       9
1967       8
1968       9
1969      10
1970      21
1971      12
1972      14
1973      11
1974       7
1975      10
1976      12
1977      15
1978      24
1979      16
1980      66
1981      18
1982      32
1983      35
1984      44
1985      74
1986      62
1987      67
1988     120
1989     155
1990     305
1991     313
1992     334
1993     389
1994     579
1995    1113
1996    1296
1997    1848
1998    2259
1999    2825
2000    2989
Name: registration_year, dtype: int64

In [58]:
autos = autos[autos['registration_year'].between(1960,2016)]

### Remove the values before 1960 because older vehicles may be a misstype. The right thing to do was to review the name of the vehicles and check if that model was available at that year. But since I didn't have the time, I decided to make a Salomonic decision 
### Remove the values after 2016 because the ad was created in 2016, there can't be vehicles from the future. The right thing to do was to check if the registration year matches the model and the ad creation date.

In [71]:
autos.groupby(by='brand')[['odometer_km', 'price_usd']].mean()

                  odometer_km    price_usd
brand
alfa_romeo      137106.227106  2767.113553
audi            145135.506677  3749.557738
bmw             142656.475339  3902.821748
chevrolet       105841.584158  3863.133663
chrysler        136267.123288  2374.130137
citroen         123968.120805  2979.541946
dacia            95353.535354  4539.222222
daewoo          120808.823529  1078.235294
daihatsu        116491.228070  1590.877193
fiat            120444.646098  2430.335753
ford            129604.985955  2404.932233
honda           126487.730061  2955.861963
hyundai         115314.960630  3584.325459
jaguar          139871.794872  3708.820513
jeep            143220.338983  4805.915254
kia             122969.924812  3692.496241
lada             83518.518519  2688.296296
lancia          122840.909091  1692.022727
land_rover      142820.512821  4048.897436
mazda           132243.902439  2795.253659
mercedes_benz   141832.954176  3728.909327
mini            115289.855072  6012.062802
mitsubishi      130724.637681  2329.628986
nissan          126328.125000  2613.199653
opel            133406.400701  2348.050416
peugeot         129969.488940  2630.765065
porsche         111200.000000  5816.000000
renault         131227.383863  2034.977017
rover           137250.000000  1262.366667
saab            147753.623188  2155.043478
seat            129727.891156  3053.933333
skoda           120511.073254  4183.967632
smart           100639.445300  3479.332820
sonstige_autos   99460.000000  3712.964000
subaru          131235.294118  2420.929412
suzuki          111926.229508  3414.790984
toyota          122710.727969  3861.821839
trabant          53852.459016  1902.147541
volkswagen      137449.186992  3054.775534
volvo           143900.000000  2864.394286

In [74]:
brands_counts = autos.brand.value_counts()

### I choose the top 20 brands to make the analysis

In [93]:
brands_price = {}
brands_mileage = {}
for i in brands_counts.index[:20]:
    brands_mileage[i] = brands_mileage.get(i, \
       autos[autos['brand'] == i]['odometer_km'].mean())
    brands_price[i] = brands_price.get(i, \
      autos[autos['brand'] == i]['price_usd'].mean())
# brands_counts.index[:20]

In [91]:
brands_price

{'audi': 3749.557737627651,
 'bmw': 3902.821747908855,
 'citroen': 2979.5419463087246,
 'fiat': 2430.3357531760435,
 'ford': 2404.9322331460676,
 'honda': 2955.8619631901843,
 'hyundai': 3584.3254593175852,
 'mazda': 2795.2536585365856,
 'mercedes_benz': 3728.9093272668183,
 'mitsubishi': 2329.6289855072464,
 'nissan': 2613.199652777778,
 'opel': 2348.050416483998,
 'peugeot': 2630.765064836003,
 'renault': 2034.9770171149144,
 'seat': 3053.9333333333334,
 'skoda': 4183.967632027257,
 'smart': 3479.33281972265,
 'toyota': 3861.82183908046,
 'volkswagen': 3054.7755335365855,
 'volvo': 2864.3942857142856}

### We see that the skoda is the most expensive ... on average

In [94]:
brands_mileage

{'audi': 145135.5066771406,
 'bmw': 142656.47533890972,
 'citroen': 123968.12080536912,
 'fiat': 120444.64609800364,
 'ford': 129604.98595505618,
 'honda': 126487.73006134969,
 'hyundai': 115314.96062992126,
 'mazda': 132243.9024390244,
 'mercedes_benz': 141832.9541761456,
 'mitsubishi': 130724.63768115942,
 'nissan': 126328.125,
 'opel': 133406.40070144672,
 'peugeot': 129969.48893974065,
 'renault': 131227.38386308067,
 'seat': 129727.89115646259,
 'skoda': 120511.07325383305,
 'smart': 100639.44530046225,
 'toyota': 122710.72796934866,
 'volkswagen': 137449.1869918699,
 'volvo': 143900.0}

In [95]:
price_serie = pd.Series(brands_price)
mileage_serie = pd.Series(brands_mileage)

In [96]:
price_serie

audi             3749.557738
bmw              3902.821748
citroen          2979.541946
fiat             2430.335753
ford             2404.932233
honda            2955.861963
hyundai          3584.325459
mazda            2795.253659
mercedes_benz    3728.909327
mitsubishi       2329.628986
nissan           2613.199653
opel             2348.050416
peugeot          2630.765065
renault          2034.977017
seat             3053.933333
skoda            4183.967632
smart            3479.332820
toyota           3861.821839
volkswagen       3054.775534
volvo            2864.394286
dtype: float64

In [97]:
mileage_serie

audi             145135.506677
bmw              142656.475339
citroen          123968.120805
fiat             120444.646098
ford             129604.985955
honda            126487.730061
hyundai          115314.960630
mazda            132243.902439
mercedes_benz    141832.954176
mitsubishi       130724.637681
nissan           126328.125000
opel             133406.400701
peugeot          129969.488940
renault          131227.383863
seat             129727.891156
skoda            120511.073254
smart            100639.445300
toyota           122710.727969
volkswagen       137449.186992
volvo            143900.000000
dtype: float64

In [98]:
df = pd.DataFrame(price_serie, columns=['mean_price'])

In [99]:
df['mean_mileage'] = pd.DataFrame(mileage_serie)

In [100]:
df

                mean_price   mean_mileage
audi           3749.557738  145135.506677
bmw            3902.821748  142656.475339
citroen        2979.541946  123968.120805
fiat           2430.335753  120444.646098
ford           2404.932233  129604.985955
honda          2955.861963  126487.730061
hyundai        3584.325459  115314.960630
mazda          2795.253659  132243.902439
mercedes_benz  3728.909327  141832.954176
mitsubishi     2329.628986  130724.637681
nissan         2613.199653  126328.125000
opel           2348.050416  133406.400701
peugeot        2630.765065  129969.488940
renault        2034.977017  131227.383863
seat           3053.933333  129727.891156
skoda          4183.967632  120511.073254
smart          3479.332820  100639.445300
toyota         3861.821839  122710.727969
volkswagen     3054.775534  137449.186992
volvo          2864.394286  143900.000000

### The mileage from Audi, BMW and Mercedes are among the highest, so is the price maybe because this autos are top brands.